#headTop{
    padding-top: 5px;
    background-color: #2f3848;
    color: #eeeeee;
    padding-left: 2%;
}
#rightNav{
    /* border-bottom: 1px solid #eee; */
    width: 186px;
    position: relative;
}
#rightNav2{
    /* border-bottom: 1px solid #eee; */
    width: 186px;
    position: fixed;
    opacity: 0.7;
}
#btncv{
    width: 150px;
    height: 50px;
    right: 0;
    margin-right: 10px;
    position: absolute;
    margin-top: 10px;
   
}
#btncv:hover{
    margin-top: 8px;
}
#btn{
    background-color: #2f3848;
    padding: 1px;
    border-radius: 5px;
    width: 100%;
    height: 28px;
    color: #eee;
}
.fa {
  padding: 5px;
  font-size: 14px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 2px;
}

.fa:hover {
    color: white;
   font-size: large;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github{
    background: #24292e;
    color: white;
}
.fa-whatsapp{
    background: #25D366;
    color: white;
}
.fa-telegram{
    background: #0088CC;
    color: white;
}